In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [49]:
#path="C:\Users\andre\Documents\Msc of Data Science\Data 601\Project Gruop\Community_Crime_Statistics_20250118.csv"
File="Community_Crime_Statistics_20250118.csv"
crime_df=pd.read_csv(File)
crime_df.head(5)

  Community                    Category  Crime Count  Year  Month
0       01B      Assault (Non-domestic)            1  2022     11
1       01B  Break & Enter - Commercial            1  2019      6
2       01B  Break & Enter - Commercial            1  2019      8
3       01B  Break & Enter - Commercial            2  2020      3
4       01B  Break & Enter - Commercial            2  2020      7

In [51]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75595 entries, 0 to 75594
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Community    75595 non-null  object
 1   Category     75595 non-null  object
 2   Crime Count  75595 non-null  int64
 3   Year         75595 non-null  int64
 4   Month        75595 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.9+ MB

In [63]:
#How many communities has crime records?
Community_name=crime_df['Community'].dropna().unique()
Total_Community_name=len(Community_name)
print("Total communities:",Total_Community_name)

#Recognizing the communities 
display(Community_name)

Total communities: 300

array(['01B', '01F', '01I', '01K', '02B', '02C', '02E', '02F', '02K',
       '02L', '03W', '05D', '05F', '06A', '06B', '06C', '09H', '09K',
       '09O', '09P', '09Q', '10D', '10E', '12A', '12B', '12C', '12I',
       '12J', '12K', '12L', '13A', '13C', '13E', '13F', '13G', '13M',
       'ABBEYDALE', 'ACADIA', 'ALBERT PARK/RADISSON HEIGHTS',
       'ALPINE PARK', 'ALTADORE', 'ALYTH/BONNYBROOK', 'AMBLETON',
       'APPLEWOOD PARK', 'ARBOUR LAKE', 'ASPEN WOODS', 'AUBURN BAY',
       'AURORA BUSINESS PARK', 'BANFF TRAIL', 'BANKVIEW', 'BAYVIEW',
       'BEDDINGTON HEIGHTS', 'BEL-AIRE', 'BELMONT', 'BELTLINE',
       'BELVEDERE', 'BONAVISTA DOWNS', 'BOWNESS', 'BRAESIDE', 'BRENTWOOD',
       'BRIDGELAND/RIVERSIDE', 'BRIDLEWOOD', 'BRITANNIA',
       'BURNS INDUSTRIAL', 'CALGARY INTERNATIONAL AIRPORT',
       'CAMBRIAN HEIGHTS', 'CANADA OLYMPIC PARK', 'CANYON MEADOWS',
       'CAPITOL HILL', 'CARRINGTON', 'CASTLERIDGE', 'CEDARBRAE',
       'CHAPARRAL', 'CHARLESWOOD', 'CHINATOWN', 'CHINOOK PARK',
       'CHRISTIE PARK', 'CITADEL', 'CITYSCAPE', 'CLIFF BUNGALOW',
       'COACH HILL', 'COLLINGWOOD', 'COPPERFIELD', 'CORAL SPRINGS',
       'CORNERSTONE', 'COUGAR RIDGE', 'COUNTRY HILLS',
       'COUNTRY HILLS VILLAGE', 'COVENTRY HILLS', 'CRANSTON',
       'CRESCENT HEIGHTS', 'CRESTMONT', 'CURRIE BARRACKS', 'DALHOUSIE',
       'DEER RIDGE', 'DEER RUN', 'DEERFOOT BUSINESS CENTRE',
       'DIAMOND COVE', 'DISCOVERY RIDGE', 'DOUGLASDALE/GLEN', 'DOVER',
       'DOWNTOWN COMMERCIAL CORE', 'DOWNTOWN EAST VILLAGE',
       'DOWNTOWN WEST END', 'EAGLE RIDGE', 'EAST FAIRVIEW INDUSTRIAL',
       'EAST SHEPARD INDUSTRIAL', 'EASTFIELD', 'EAU CLAIRE', 'EDGEMONT',
       'ELBOW PARK', 'ELBOYA', 'ERIN WOODS', 'ERLTON', 'EVANSTON',
       'EVERGREEN', 'FAIRVIEW', 'FAIRVIEW INDUSTRIAL', 'FALCONRIDGE',
       'FISH CREEK PARK', 'FOOTHILLS', 'FOREST HEIGHTS', 'FOREST LAWN',
       'FOREST LAWN INDUSTRIAL', 'FRANKLIN', 'GARRISON GREEN',
       'GARRISON WOODS', 'GLACIER RIDGE', 'GLAMORGAN', 'GLENBROOK',
       'GLENDALE', 'GLENDEER BUSINESS PARK', 'GLENMORE PARK',
       'GOLDEN TRIANGLE', 'GREAT PLAINS', 'GREENVIEW',
       'GREENVIEW INDUSTRIAL PARK', 'GREENWOOD/GREENBRIAR', 'HAMPTONS',
       'HARVEST HILLS', 'HASKAYNE', 'HAWKWOOD', 'HAYSBORO',
       'HIDDEN VALLEY', 'HIGHFIELD', 'HIGHLAND PARK', 'HIGHWOOD',
       'HILLHURST', 'HOMESTEAD', 'HORIZON', 'HOTCHKISS',
       'HOUNSFIELD HEIGHTS/BRIAR HILL', 'HUNTINGTON HILLS', 'INGLEWOOD',
       'KELVIN GROVE', 'KILLARNEY/GLENGARRY', 'KINCORA', 'KINGSLAND',
       'LAKE BONAVISTA', 'LAKEVIEW', 'LEGACY', 'LINCOLN PARK',
       'LIVINGSTON', 'LOWER MOUNT ROYAL', 'MACEWAN GLEN', 'MAHOGANY',
       'MANCHESTER', 'MANCHESTER INDUSTRIAL', 'MAPLE RIDGE',
       'MARLBOROUGH', 'MARLBOROUGH PARK', 'MARTINDALE', 'MAYFAIR',
       'MAYLAND', 'MAYLAND HEIGHTS', 'MCCALL', 'MCKENZIE LAKE',
       'MCKENZIE TOWNE', 'MEADOWLARK PARK', 'MEDICINE HILL', 'MERIDIAN',
       'MIDNAPORE', 'MILLRISE', 'MISSION', 'MONTEREY PARK', 'MONTGOMERY',
       'MOUNT PLEASANT', 'NEW BRIGHTON', 'NOLAN HILL', 'NORTH AIRWAYS',
       'NORTH GLENMORE PARK', 'NORTH HAVEN', 'NORTH HAVEN UPPER',
       'NOSE HILL PARK', 'OAKRIDGE', 'OGDEN', 'OGDEN SHOPS', 'PALLISER',
       'PANORAMA HILLS', 'PARKDALE', 'PARKHILL', 'PARKLAND', 'PATTERSON',
       'PEGASUS', 'PENBROOKE MEADOWS', 'PINE CREEK', 'PINERIDGE',
       'POINT MCKAY', 'PUMP HILL', 'QUEENS PARK VILLAGE', 'QUEENSLAND',
       'RAMSAY', 'RANCHLANDS', 'RANGEVIEW', 'RED CARPET', 'REDSTONE',
       'RENFREW', 'RICHMOND', 'RIDEAU PARK', 'RIVERBEND', 'ROCKY RIDGE',
       'ROSEDALE', 'ROSEMONT', 'ROSSCARROCK', 'ROXBORO', 'ROYAL OAK',
       'ROYAL VISTA', 'RUNDLE', 'RUTLAND PARK', 'SADDLE RIDGE',
       'SADDLE RIDGE INDUSTRIAL', 'SAGE HILL', 'SANDSTONE VALLEY',
       'SCARBORO', 'SCENIC ACRES', 'SECTION 23', 'SETON', 'SHAGANAPPI',
       'SHAWNEE SLOPES', 'SHAWNESSY', 'SHEPARD INDUSTRIAL', 'SHERWOOD',
       'SIGNAL HILL', 'SILVER SPRINGS', 'SILVERADO', 'SKYLINE EAST',
       'SKYLINE WEST', 'SKYVIEW RANCH', 'SOMERSET', 'SOUTH AIRWAYS',
       'SOUTH CALGARY', 'SOUTH FOOTHILLS', 'SOUTHVIEW', 'SOUTHWOOD',
       'SPRINGBANK HILL', 'SPRUCE CLIFF', 'ST. ANDREWS HEIGHTS',
       'STARFIELD', 'STONEGATE LANDING', 'STONEY 1', 'STONEY 2',
       'STONEY 3', 'STONEY 4', 'STRATHCONA PARK', 'SUNALTA', 'SUNDANCE',
       'SUNNYSIDE', 'SUNRIDGE', 'SYMONS VALLEY RANCH', 'TARADALE',
       'TEMPLE', 'THORNCLIFFE', 'TUSCANY', 'TUXEDO PARK', 'TWINHILLS',
       'UNIVERSITY DISTRICT', 'UNIVERSITY HEIGHTS',
       'UNIVERSITY OF CALGARY', 'UPPER MOUNT ROYAL', 'VALLEY RIDGE',
       'VALLEYFIELD', 'VARSITY', 'VISTA HEIGHTS', 'WALDEN',
       'WEST HILLHURST', 'WEST SPRINGS', 'WESTGATE', 'WESTWINDS',
       'WHITEHORN', 'WILDWOOD', 'WILLOW PARK', 'WINDSOR PARK',
       'WINSTON HEIGHTS/MOUNTVIEW', 'WOLF WILLOW', 'WOODBINE',
       'WOODLANDS', 'YORKVILLE', 'SCARBORO/ SUNALTA WEST', '01H',
       'LEWISBURG'], dtype=object)

In [65]:
#How many crime categories has this data set?
Crime_cat=crime_df['Category'].dropna().unique()
Total_Crime_cat=len(Crime_cat)
print("Total crime categories:",Total_Community_name)

#Recognizing the crime categories
print("These are the crime categories whithin the dataset:\n")
display(Crime_cat)

Total crime categories: 300
These are the crime categories whithin the dataset:

array(['Assault (Non-domestic)', 'Break & Enter - Commercial',
       'Break & Enter - Dwelling', 'Theft FROM Vehicle',
       'Theft OF Vehicle', "Violence\xa0 'Other' (Non-domestic)",
       'Street Robbery', 'Commercial Robbery',
       'Break & Enter - Other Premises'], dtype=object)

In [91]:
#Does the df have invalid values in the Month and Year Columns?
Year_values=np.sort(crime_df['Year'].dropna().unique())
print("These are the years reported in the database:", Year_values)

Month_Values=np.sort(crime_df['Month'].dropna().unique())
print("These are the months reported in the database:", Month_Values)

if np.all((Month_Values>0) & (Month_Values<13)):
    print("All month entries are valid")
else:
    ("There are invalid entries, please correct the data")

These are the years reported in the database: [2018 2019 2020 2021 2022 2023 2024]
These are the months reported in the database: [ 1  2  3  4  5  6  7  8  9 10 11 12]
All month entries are valid

In [83]:
#Do we have crime records with missing values?

print("Missing values:\n")
crime_df.isna().sum()

Missing values:

Community      0
Category       0
Crime Count    0
Year           0
Month          0
dtype: int64