In [1308]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Crime Stats Dataframe

In [1310]:
#path="C:\Users\andre\Documents\Msc of Data Science\Data 601\Project Gruop\Community_Crime_Statistics_20250118.csv"
crime_file="Community_Crime_Statistics_20250118.csv"
crime_df=pd.read_csv(crime_file)
crime_df.head(5)

  Community                    Category  Crime Count  Year  Month
0       01B      Assault (Non-domestic)            1  2022     11
1       01B  Break & Enter - Commercial            1  2019      6
2       01B  Break & Enter - Commercial            1  2019      8
3       01B  Break & Enter - Commercial            2  2020      3
4       01B  Break & Enter - Commercial            2  2020      7

In [1311]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75595 entries, 0 to 75594
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Community    75595 non-null  object
 1   Category     75595 non-null  object
 2   Crime Count  75595 non-null  int64
 3   Year         75595 non-null  int64
 4   Month        75595 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.9+ MB

In [1312]:
#How many communities has crime records?
Community_name=crime_df['Community'].dropna().unique()
Total_Community_name=len(Community_name)
print("Total communities:",Total_Community_name)

#Recognizing the communities 
display(Community_name)

Total communities: 300

array(['01B', '01F', '01I', '01K', '02B', '02C', '02E', '02F', '02K',
       '02L', '03W', '05D', '05F', '06A', '06B', '06C', '09H', '09K',
       '09O', '09P', '09Q', '10D', '10E', '12A', '12B', '12C', '12I',
       '12J', '12K', '12L', '13A', '13C', '13E', '13F', '13G', '13M',
       'ABBEYDALE', 'ACADIA', 'ALBERT PARK/RADISSON HEIGHTS',
       'ALPINE PARK', 'ALTADORE', 'ALYTH/BONNYBROOK', 'AMBLETON',
       'APPLEWOOD PARK', 'ARBOUR LAKE', 'ASPEN WOODS', 'AUBURN BAY',
       'AURORA BUSINESS PARK', 'BANFF TRAIL', 'BANKVIEW', 'BAYVIEW',
       'BEDDINGTON HEIGHTS', 'BEL-AIRE', 'BELMONT', 'BELTLINE',
       'BELVEDERE', 'BONAVISTA DOWNS', 'BOWNESS', 'BRAESIDE', 'BRENTWOOD',
       'BRIDGELAND/RIVERSIDE', 'BRIDLEWOOD', 'BRITANNIA',
       'BURNS INDUSTRIAL', 'CALGARY INTERNATIONAL AIRPORT',
       'CAMBRIAN HEIGHTS', 'CANADA OLYMPIC PARK', 'CANYON MEADOWS',
       'CAPITOL HILL', 'CARRINGTON', 'CASTLERIDGE', 'CEDARBRAE',
       'CHAPARRAL', 'CHARLESWOOD', 'CHINATOWN', 'CHINOOK PARK',
       'CHRISTIE PARK', 'CITADEL', 'CITYSCAPE', 'CLIFF BUNGALOW',
       'COACH HILL', 'COLLINGWOOD', 'COPPERFIELD', 'CORAL SPRINGS',
       'CORNERSTONE', 'COUGAR RIDGE', 'COUNTRY HILLS',
       'COUNTRY HILLS VILLAGE', 'COVENTRY HILLS', 'CRANSTON',
       'CRESCENT HEIGHTS', 'CRESTMONT', 'CURRIE BARRACKS', 'DALHOUSIE',
       'DEER RIDGE', 'DEER RUN', 'DEERFOOT BUSINESS CENTRE',
       'DIAMOND COVE', 'DISCOVERY RIDGE', 'DOUGLASDALE/GLEN', 'DOVER',
       'DOWNTOWN COMMERCIAL CORE', 'DOWNTOWN EAST VILLAGE',
       'DOWNTOWN WEST END', 'EAGLE RIDGE', 'EAST FAIRVIEW INDUSTRIAL',
       'EAST SHEPARD INDUSTRIAL', 'EASTFIELD', 'EAU CLAIRE', 'EDGEMONT',
       'ELBOW PARK', 'ELBOYA', 'ERIN WOODS', 'ERLTON', 'EVANSTON',
       'EVERGREEN', 'FAIRVIEW', 'FAIRVIEW INDUSTRIAL', 'FALCONRIDGE',
       'FISH CREEK PARK', 'FOOTHILLS', 'FOREST HEIGHTS', 'FOREST LAWN',
       'FOREST LAWN INDUSTRIAL', 'FRANKLIN', 'GARRISON GREEN',
       'GARRISON WOODS', 'GLACIER RIDGE', 'GLAMORGAN', 'GLENBROOK',
       'GLENDALE', 'GLENDEER BUSINESS PARK', 'GLENMORE PARK',
       'GOLDEN TRIANGLE', 'GREAT PLAINS', 'GREENVIEW',
       'GREENVIEW INDUSTRIAL PARK', 'GREENWOOD/GREENBRIAR', 'HAMPTONS',
       'HARVEST HILLS', 'HASKAYNE', 'HAWKWOOD', 'HAYSBORO',
       'HIDDEN VALLEY', 'HIGHFIELD', 'HIGHLAND PARK', 'HIGHWOOD',
       'HILLHURST', 'HOMESTEAD', 'HORIZON', 'HOTCHKISS',
       'HOUNSFIELD HEIGHTS/BRIAR HILL', 'HUNTINGTON HILLS', 'INGLEWOOD',
       'KELVIN GROVE', 'KILLARNEY/GLENGARRY', 'KINCORA', 'KINGSLAND',
       'LAKE BONAVISTA', 'LAKEVIEW', 'LEGACY', 'LINCOLN PARK',
       'LIVINGSTON', 'LOWER MOUNT ROYAL', 'MACEWAN GLEN', 'MAHOGANY',
       'MANCHESTER', 'MANCHESTER INDUSTRIAL', 'MAPLE RIDGE',
       'MARLBOROUGH', 'MARLBOROUGH PARK', 'MARTINDALE', 'MAYFAIR',
       'MAYLAND', 'MAYLAND HEIGHTS', 'MCCALL', 'MCKENZIE LAKE',
       'MCKENZIE TOWNE', 'MEADOWLARK PARK', 'MEDICINE HILL', 'MERIDIAN',
       'MIDNAPORE', 'MILLRISE', 'MISSION', 'MONTEREY PARK', 'MONTGOMERY',
       'MOUNT PLEASANT', 'NEW BRIGHTON', 'NOLAN HILL', 'NORTH AIRWAYS',
       'NORTH GLENMORE PARK', 'NORTH HAVEN', 'NORTH HAVEN UPPER',
       'NOSE HILL PARK', 'OAKRIDGE', 'OGDEN', 'OGDEN SHOPS', 'PALLISER',
       'PANORAMA HILLS', 'PARKDALE', 'PARKHILL', 'PARKLAND', 'PATTERSON',
       'PEGASUS', 'PENBROOKE MEADOWS', 'PINE CREEK', 'PINERIDGE',
       'POINT MCKAY', 'PUMP HILL', 'QUEENS PARK VILLAGE', 'QUEENSLAND',
       'RAMSAY', 'RANCHLANDS', 'RANGEVIEW', 'RED CARPET', 'REDSTONE',
       'RENFREW', 'RICHMOND', 'RIDEAU PARK', 'RIVERBEND', 'ROCKY RIDGE',
       'ROSEDALE', 'ROSEMONT', 'ROSSCARROCK', 'ROXBORO', 'ROYAL OAK',
       'ROYAL VISTA', 'RUNDLE', 'RUTLAND PARK', 'SADDLE RIDGE',
       'SADDLE RIDGE INDUSTRIAL', 'SAGE HILL', 'SANDSTONE VALLEY',
       'SCARBORO', 'SCENIC ACRES', 'SECTION 23', 'SETON', 'SHAGANAPPI',
       'SHAWNEE SLOPES', 'SHAWNESSY', 'SHEPARD INDUSTRIAL', 'SHERWOOD',
       'SIGNAL HILL', 'SILVER SPRINGS', 'SILVERADO', 'SKYLINE EAST',
       'SKYLINE WEST', 'SKYVIEW RANCH', 'SOMERSET', 'SOUTH AIRWAYS',
       'SOUTH CALGARY', 'SOUTH FOOTHILLS', 'SOUTHVIEW', 'SOUTHWOOD',
       'SPRINGBANK HILL', 'SPRUCE CLIFF', 'ST. ANDREWS HEIGHTS',
       'STARFIELD', 'STONEGATE LANDING', 'STONEY 1', 'STONEY 2',
       'STONEY 3', 'STONEY 4', 'STRATHCONA PARK', 'SUNALTA', 'SUNDANCE',
       'SUNNYSIDE', 'SUNRIDGE', 'SYMONS VALLEY RANCH', 'TARADALE',
       'TEMPLE', 'THORNCLIFFE', 'TUSCANY', 'TUXEDO PARK', 'TWINHILLS',
       'UNIVERSITY DISTRICT', 'UNIVERSITY HEIGHTS',
       'UNIVERSITY OF CALGARY', 'UPPER MOUNT ROYAL', 'VALLEY RIDGE',
       'VALLEYFIELD', 'VARSITY', 'VISTA HEIGHTS', 'WALDEN',
       'WEST HILLHURST', 'WEST SPRINGS', 'WESTGATE', 'WESTWINDS',
       'WHITEHORN', 'WILDWOOD', 'WILLOW PARK', 'WINDSOR PARK',
       'WINSTON HEIGHTS/MOUNTVIEW', 'WOLF WILLOW', 'WOODBINE',
       'WOODLANDS', 'YORKVILLE', 'SCARBORO/ SUNALTA WEST', '01H',
       'LEWISBURG'], dtype=object)

In [1313]:
#How many crime categories has this data set?
Crime_cat=crime_df['Category'].dropna().unique()
Total_Crime_cat=len(Crime_cat)
print("Total crime categories:",Total_Crime_cat)

#Recognizing the crime categories
print("These are the crime categories whithin the dataset:\n")
display(Crime_cat)

Total crime categories: 9
These are the crime categories whithin the dataset:

array(['Assault (Non-domestic)', 'Break & Enter - Commercial',
       'Break & Enter - Dwelling', 'Theft FROM Vehicle',
       'Theft OF Vehicle', "Violence\xa0 'Other' (Non-domestic)",
       'Street Robbery', 'Commercial Robbery',
       'Break & Enter - Other Premises'], dtype=object)

In [1314]:
#Does the datframe have invalid values in the Month and Year Columns?
Year_values=np.sort(crime_df['Year'].dropna().unique())
print("These are the years reported in the database:", Year_values)

Month_Values=np.sort(crime_df['Month'].dropna().unique())
print("These are the months reported in the database:", Month_Values)

if np.all((Month_Values>0) & (Month_Values<13)):
    print("All month entries are valid")
else:
    ("There are invalid entries, please correct the data")

These are the years reported in the database: [2018 2019 2020 2021 2022 2023 2024]
These are the months reported in the database: [ 1  2  3  4  5  6  7  8  9 10 11 12]
All month entries are valid

In [1315]:
#Do we have crime records with missing values?

print("Missing values:\n")
crime_df.isna().sum()

Missing values:

Community      0
Category       0
Crime Count    0
Year           0
Month          0
dtype: int64

## Data Transformation
*With the previous findings, a crime category will be renamed.

*The number of entries relate to residual communities will be checked to see if we exclude those from the analysis.

*A regex validations mas be done with the community names.

### 1. Change name of Crime Category

In [1317]:
#Changing name category
crime_df['Category']=crime_df['Category'].replace("Violence\xa0 'Other' (Non-domestic)","Violence (Non-domestic)")
crime_df.tail(10)

         Community                 Category  Crime Count  Year  Month
75585  CORNERSTONE  Violence (Non-domestic)            1  2021      6
75586  CORNERSTONE  Violence (Non-domestic)            1  2021      7
75587  CORNERSTONE  Violence (Non-domestic)            2  2021      8
75588  CORNERSTONE  Violence (Non-domestic)            1  2022      1
75589  CORNERSTONE  Violence (Non-domestic)            1  2022      3
75590  CORNERSTONE  Violence (Non-domestic)            1  2022      6
75591  CORNERSTONE  Violence (Non-domestic)            1  2022      8
75592  CORNERSTONE  Violence (Non-domestic)            1  2023      2
75593  CORNERSTONE  Violence (Non-domestic)            1  2023      7
75594  CORNERSTONE  Violence (Non-domestic)            1  2023     12

### 2. Do we need all the data?

In [1319]:
#Since we want to verify the impact of residual communities, we are adding a new column to categorize the communities
crime_df['Community Type'] = np.where(crime_df['Community'].str[0].str.isdigit(), 'Residual', 'City')
display(crime_df.head(3), crime_df.tail(3))

#Now, we will calculate a general crime percentage
count_crime=crime_df['Crime Count'].sum()
print("Total crime events in the dataset:",count_crime)

crime_residual = crime_df[crime_df['Community Type'] == 'Residual']['Crime Count'].sum()
print("Total crime events ocurred in residual communities:",crime_residual)

#I want to double check the total entries of resisudal communities in the daframe
count_residual = crime_df[crime_df['Community Type'] == 'Residual']['Community Type'].count()
print("Total entries of crime in residual communities:",count_residual)

perc_residual=round((crime_residual/count_crime)*100,4)
print("Crimes in res. communities represents only:", perc_residual,"% - in the last 5 years") # I think we can exclude this areas from the analysis

,Community,Category,Crime Count,Year,Month,Community Type
0,01B,Assault (Non-domestic),1,2022,11,Residual
1,01B,Break & Enter - Commercial,1,2019,6,Residual
2,01B,Break & Enter - Commercial,1,2019,8,Residual

,Community,Category,Crime Count,Year,Month,Community Type
75592,CORNERSTONE,Violence (Non-domestic),1,2023,2,City
75593,CORNERSTONE,Violence (Non-domestic),1,2023,7,City
75594,CORNERSTONE,Violence (Non-domestic),1,2023,12,City

Total crime events in the dataset: 212950
Total crime events ocurred in residual communities: 1653
Total entries of crime in residual communities: 1013
Crimes in res. communities represents only: 0.7762 % - in the last 5 years

### 3. Exclude Residual Communities from the Data Set

In [1321]:
original_len=len(crime_df)
new_len=(original_len)-(count_residual)
crime_dfc=crime_df[crime_df['Community Type'] != 'Residual']
crime_dfc= crime_dfc.reset_index(drop=True)   #Added to avoid issues when printing just the head
print("Since entries from residual coomunities are:", count_residual, "the new dataframe should have", new_len, "entries")
crime_dfc.info()

# Community Type will be excluded, since it does not prodive valuable info
crime_dfc=crime_dfc.drop('Community Type',axis=1)
display(crime_dfc.head(3))

Since entries from residual coomunities are: 1013 the new dataframe should have 74582 entries
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74582 entries, 0 to 74581
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Community       74582 non-null  object
 1   Category        74582 non-null  object
 2   Crime Count     74582 non-null  int64
 3   Year            74582 non-null  int64
 4   Month           74582 non-null  int64
 5   Community Type  74582 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.4+ MB

   Community                Category  Crime Count  Year  Month
0  ABBEYDALE  Assault (Non-domestic)            1  2018      1
1  ABBEYDALE  Assault (Non-domestic)            1  2018      2
2  ABBEYDALE  Assault (Non-domestic)            1  2018      3

# Social Disorders Dataframe

In [1323]:
#path="C:\Users\andre\Documents\Msc of Data Science\Data 601\Project Gruop\Community_Crime_Statistics_20250118.csv"
disorder_File="Community_Disorder_Statistics_20250204.csv"
disorder_df=pd.read_csv(disorder_File)
disorder_df.head(5)

  Community  Category  Event Count  Year  Month
0       01B  Disorder            1  2018      2
1       01B  Disorder            2  2018      6
2       01B  Disorder            1  2018      8
3       01B  Disorder            1  2018     10
4       01B  Disorder            2  2018     11

In [1324]:
disorder_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21445 entries, 0 to 21444
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Community    21445 non-null  object
 1   Category     21445 non-null  object
 2   Event Count  21445 non-null  int64
 3   Year         21445 non-null  int64
 4   Month        21445 non-null  int64
dtypes: int64(3), object(2)
memory usage: 837.8+ KB

In [1325]:
#How many communities has social disorder records?
Community_name_disorder=disorder_df['Community'].dropna().unique()
Total_Community_name_disorder=len(Community_name_disorder)
print("Total communities:",Total_Community_name_disorder)

#Recognizing the communities 
display(Community_name_disorder)

Total communities: 306

array(['01B', '01F', '01I', '01K', '02B', '02C', '02E', '02F', '02K',
       '02L', '03W', '05D', '05F', '05G', '06A', '06B', '06C', '09D',
       '09H', '09K', '09O', '09P', '09Q', '10D', '10E', '12A', '12B',
       '12C', '12I', '12J', '12K', '12L', '13A', '13C', '13E', '13F',
       '13G', '13H', '13M', 'ABBEYDALE', 'ACADIA',
       'ALBERT PARK/RADISSON HEIGHTS', 'ALPINE PARK', 'ALTADORE',
       'ALYTH/BONNYBROOK', 'AMBLETON', 'APPLEWOOD PARK', 'ARBOUR LAKE',
       'ASPEN WOODS', 'AUBURN BAY', 'AURORA BUSINESS PARK', 'BANFF TRAIL',
       'BANKVIEW', 'BAYVIEW', 'BEDDINGTON HEIGHTS', 'BEL-AIRE', 'BELMONT',
       'BELTLINE', 'BELVEDERE', 'BONAVISTA DOWNS', 'BOWNESS', 'BRAESIDE',
       'BRENTWOOD', 'BRIDGELAND/RIVERSIDE', 'BRIDLEWOOD', 'BRITANNIA',
       'BURNS INDUSTRIAL', 'CALGARY INTERNATIONAL AIRPORT',
       'CAMBRIAN HEIGHTS', 'CANADA OLYMPIC PARK', 'CANYON MEADOWS',
       'CAPITOL HILL', 'CARRINGTON', 'CASTLERIDGE', 'CEDARBRAE',
       'CHAPARRAL', 'CHARLESWOOD', 'CHINATOWN', 'CHINOOK PARK',
       'CHRISTIE PARK', 'CITADEL', 'CITYSCAPE', 'CLIFF BUNGALOW',
       'COACH HILL', 'COLLINGWOOD', 'COPPERFIELD', 'CORAL SPRINGS',
       'CORNERSTONE', 'COUGAR RIDGE', 'COUNTRY HILLS',
       'COUNTRY HILLS VILLAGE', 'COVENTRY HILLS', 'CRANSTON',
       'CRESCENT HEIGHTS', 'CRESTMONT', 'CURRIE BARRACKS', 'DALHOUSIE',
       'DEER RIDGE', 'DEER RUN', 'DEERFOOT BUSINESS CENTRE',
       'DIAMOND COVE', 'DISCOVERY RIDGE', 'DOUGLASDALE/GLEN', 'DOVER',
       'DOWNTOWN COMMERCIAL CORE', 'DOWNTOWN EAST VILLAGE',
       'DOWNTOWN WEST END', 'EAGLE RIDGE', 'EAST FAIRVIEW INDUSTRIAL',
       'EAST SHEPARD INDUSTRIAL', 'EASTFIELD', 'EAU CLAIRE', 'EDGEMONT',
       'ELBOW PARK', 'ELBOYA', 'ERIN WOODS', 'ERLTON', 'EVANSTON',
       'EVERGREEN', 'FAIRVIEW', 'FAIRVIEW INDUSTRIAL', 'FALCONRIDGE',
       'FISH CREEK PARK', 'FOOTHILLS', 'FOREST HEIGHTS', 'FOREST LAWN',
       'FOREST LAWN INDUSTRIAL', 'FRANKLIN', 'GARRISON GREEN',
       'GARRISON WOODS', 'GLACIER RIDGE', 'GLAMORGAN', 'GLENBROOK',
       'GLENDALE', 'GLENDEER BUSINESS PARK', 'GLENMORE PARK',
       'GOLDEN TRIANGLE', 'GREAT PLAINS', 'GREENVIEW',
       'GREENVIEW INDUSTRIAL PARK', 'GREENWOOD/GREENBRIAR', 'HAMPTONS',
       'HARVEST HILLS', 'HASKAYNE', 'HAWKWOOD', 'HAYSBORO',
       'HIDDEN VALLEY', 'HIGHFIELD', 'HIGHLAND PARK', 'HIGHWOOD',
       'HILLHURST', 'HOMESTEAD', 'HORIZON', 'HOTCHKISS',
       'HOUNSFIELD HEIGHTS/BRIAR HILL', 'HUNTINGTON HILLS', 'INGLEWOOD',
       'KELVIN GROVE', 'KEYSTONE HILLS', 'KILLARNEY/GLENGARRY', 'KINCORA',
       'KINGSLAND', 'LAKE BONAVISTA', 'LAKEVIEW', 'LEGACY',
       'LINCOLN PARK', 'LIVINGSTON', 'LOWER MOUNT ROYAL', 'MACEWAN GLEN',
       'MAHOGANY', 'MANCHESTER', 'MANCHESTER INDUSTRIAL', 'MAPLE RIDGE',
       'MARLBOROUGH', 'MARLBOROUGH PARK', 'MARTINDALE', 'MAYFAIR',
       'MAYLAND', 'MAYLAND HEIGHTS', 'MCCALL', 'MCKENZIE LAKE',
       'MCKENZIE TOWNE', 'MEADOWLARK PARK', 'MEDICINE HILL', 'MERIDIAN',
       'MIDNAPORE', 'MILLRISE', 'MISSION', 'MONTEREY PARK', 'MONTGOMERY',
       'MOUNT PLEASANT', 'NEW BRIGHTON', 'NOLAN HILL', 'NORTH AIRWAYS',
       'NORTH GLENMORE PARK', 'NORTH HAVEN', 'NORTH HAVEN UPPER',
       'NOSE HILL PARK', 'OAKRIDGE', 'OGDEN', 'OGDEN SHOPS', 'PALLISER',
       'PANORAMA HILLS', 'PARKDALE', 'PARKHILL', 'PARKLAND', 'PATTERSON',
       'PEGASUS', 'PENBROOKE MEADOWS', 'PINE CREEK', 'PINERIDGE',
       'POINT MCKAY', 'PUMP HILL', 'QUEENS PARK VILLAGE', 'QUEENSLAND',
       'RAMSAY', 'RANCHLANDS', 'RANGEVIEW', 'RED CARPET', 'REDSTONE',
       'RENFREW', 'RICHMOND', 'RIDEAU PARK', 'RIVERBEND', 'ROCKY RIDGE',
       'ROSEDALE', 'ROSEMONT', 'ROSSCARROCK', 'ROXBORO', 'ROYAL OAK',
       'ROYAL VISTA', 'RUNDLE', 'RUTLAND PARK', 'SADDLE RIDGE',
       'SADDLE RIDGE INDUSTRIAL', 'SAGE HILL', 'SANDSTONE VALLEY',
       'SCARBORO', 'SCENIC ACRES', 'SECTION 23', 'SETON', 'SHAGANAPPI',
       'SHAWNEE SLOPES', 'SHAWNESSY', 'SHEPARD INDUSTRIAL', 'SHERWOOD',
       'SIGNAL HILL', 'SILVER SPRINGS', 'SILVERADO', 'SKYLINE EAST',
       'SKYLINE WEST', 'SKYVIEW RANCH', 'SOMERSET', 'SOUTH AIRWAYS',
       'SOUTH CALGARY', 'SOUTH FOOTHILLS', 'SOUTHVIEW', 'SOUTHWOOD',
       'SPRINGBANK HILL', 'SPRUCE CLIFF', 'ST. ANDREWS HEIGHTS',
       'STARFIELD', 'STONEGATE LANDING', 'STONEY 1', 'STONEY 2',
       'STONEY 3', 'STONEY 4', 'STRATHCONA PARK', 'SUNALTA', 'SUNDANCE',
       'SUNNYSIDE', 'SUNRIDGE', 'SYMONS VALLEY RANCH', 'TARADALE',
       'TEMPLE', 'THORNCLIFFE', 'TUSCANY', 'TUXEDO PARK', 'TWINHILLS',
       'UNIVERSITY DISTRICT', 'UNIVERSITY HEIGHTS',
       'UNIVERSITY OF CALGARY', 'UPPER MOUNT ROYAL', 'VALLEY RIDGE',
       'VALLEYFIELD', 'VARSITY', 'VISTA HEIGHTS', 'WALDEN',
       'WEST HILLHURST', 'WEST SPRINGS', 'WESTGATE', 'WESTWINDS',
       'WHITEHORN', 'WILDWOOD', 'WILLOW PARK', 'WINDSOR PARK',
       'WINSTON HEIGHTS/MOUNTVIEW', 'WOLF WILLOW', 'WOODBINE',
       'WOODLANDS', 'YORKVILLE', 'SCARBORO/ SUNALTA WEST',
       '01H CRESTMONT', '01H', 'LEWISBURG', '13J'], dtype=object)

In [1326]:
#How many social disorder categories has this data set?
Disorder_cat=disorder_df['Category'].dropna().unique()
Total_Disorder_cat=len(Disorder_cat)
print("Total crime categories:",Total_Disorder_cat)

#Recognizing the social disorder categories
print("These are the crime categories whithin the dataset:", Disorder_cat)

Total crime categories: 1
These are the crime categories whithin the dataset: ['Disorder']

In [1327]:
#Does the datframe have invalid values in the Month and Year Columns?
Year_values=np.sort(disorder_df['Year'].dropna().unique())
print("These are the years reported in the database:", Year_values)

Month_Values=np.sort(disorder_df['Month'].dropna().unique())
print("These are the months reported in the database:", Month_Values)

if np.all((Month_Values>0) & (Month_Values<13)):
    print("All month entries are valid")
else:
    ("There are invalid entries, please correct the data")

These are the years reported in the database: [2018 2019 2020 2021 2022 2023 2024]
These are the months reported in the database: [ 1  2  3  4  5  6  7  8  9 10 11 12]
All month entries are valid

In [1328]:
#Do we have crime records with missing values?

print("Missing values:\n")
disorder_df.isna().sum()

Missing values:

Community      0
Category       0
Event Count    0
Year           0
Month          0
dtype: int64

## Data Transformation

*The number of entries relate to residual communities will be checked to see if we exclude those from the analysis.

*A regex validations mas be done with the community names.

### 2. Do we need all the data?

In [1331]:
#Since we want to verify the impact of residual communities, we are adding a new column to categorize the communities
disorder_df['Community Type'] = np.where(disorder_df['Community'].str[0].str.isdigit(), 'Residual', 'City')
display(disorder_df.head(3), disorder_df.tail(3))

#Now, we will calculate a general crime percentage
count_disorder=disorder_df['Event Count'].sum()
print("Total disorder events in the dataset:",count_disorder)

disorder_residual = disorder_df[disorder_df['Community Type'] == 'Residual']['Event Count'].sum()
print("Total disorder events ocurred in residual communities:",disorder_residual)

#I want to double check the total entries of resisudal communities in the daframe
count_residual_disorder = disorder_df[disorder_df['Community Type'] == 'Residual']['Community Type'].count()
print("Total entries of disorder events in residual communities:",count_residual_disorder)

perc_residual_disorder=round((disorder_residual/count_disorder)*100,4)
print("Disorder eventes in res. communities represents only:\n", perc_residual_disorder,"% - in the last 5 years") # I think we can exclude this areas from the analysis

  Community  Category  Event Count  Year  Month Community Type
0       01B  Disorder            1  2018      2       Residual
1       01B  Disorder            2  2018      6       Residual
2       01B  Disorder            1  2018      8       Residual

       Community  Category  Event Count  Year  Month Community Type
21442  LEWISBURG  Disorder            1  2024      4           City
21443  LEWISBURG  Disorder            1  2024     10           City
21444        13J  Disorder            1  2023      9       Residual

Total disorder events in the dataset: 596667
Total disorder events ocurred in residual communities: 2151
Total entries of disorder events in residual communities: 1073
Disorder eventes in res. communities represents only:
 0.3605 % - in the last 5 years

### 3. Exclude Residual Communities from the Data Set

In [1333]:
original_len_disorder=len(disorder_df)
new_len_disorder=(original_len_disorder)-(count_residual_disorder)
disorder_dfc=disorder_df[disorder_df['Community Type'] != 'Residual']
disorder_dfc = disorder_dfc.reset_index(drop=True)   #Added to avoid issues when printing just the first rows
print("Since entries from residual coomunities are:", count_residual_disorder, "the new dataframe should have", new_len_disorder, "entries")
disorder_dfc.info()

# Community Type will be excluded, since it does not prodive valuable info
disorder_dfc=disorder_dfc.drop('Community Type', axis=1)

#New column to be used as key when merging: Year, Month, Community
# Defining the conversion dictionary
disorder_dfc = pd.DataFrame(disorder_dfc)
convert_dict = {'Year': str, 'Month': str}

# Converting columns using the dictionary
disorder_dfc = disorder_dfc.astype(convert_dict)

#Adding the new column in Crime df - It will be the identifier or key for merging
disorder_dfc['Date - Community']=disorder_dfc["Month"]+'/'+ disorder_dfc["Year"]+' - '+disorder_dfc["Community"]   

#Rename column and delete others to avoid duplicate columns when merging
disorder_dfc.rename(columns={'Event Count':'Disorder Events'},inplace=True)
disorder_dfc=disorder_dfc.drop(['Year','Month', 'Community','Category'], axis=1)
display(disorder_dfc.head(3))

Since entries from residual coomunities are: 1073 the new dataframe should have 20372 entries
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20372 entries, 0 to 20371
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Community       20372 non-null  object
 1   Category        20372 non-null  object
 2   Event Count     20372 non-null  int64
 3   Year            20372 non-null  int64
 4   Month           20372 non-null  int64
 5   Community Type  20372 non-null  object
dtypes: int64(3), object(3)
memory usage: 955.1+ KB

   Disorder Events    Date - Community
0               22  1/2018 - ABBEYDALE
1               16  2/2018 - ABBEYDALE
2               22  3/2018 - ABBEYDALE

# Merge the 2 dataframe
We want to merge the data frames to make it easier the analysys. Since in the crime statistics dataframe, has multiple entries for every date (mm-yyyy), we will generate different data sub sets to be merged with the social disorder data frames.

In order to merge the data set we need a common column, so a new column with month, year and community will be created.

## General data frame consolidation - Crime df

In [1335]:
#Since we want to merge this dataframe with social disorder df
#A consolidated df will be generated
crime_dfc_total=crime_dfc.groupby(['Year','Month', 'Community'], as_index=False)['Crime Count'].sum()

# Define the conversion dictionary
crime_dfc_total = pd.DataFrame(crime_dfc_total)
convert_dict = {'Year': str, 'Month': str}

# Convert columns using the dictionary
crime_dfc_total = crime_dfc_total.astype(convert_dict)

#Validating the convertion
crime_dfc_total.info()  

#Adding the new column in Crime df - It will be the identifier or key for merging
crime_dfc_total['Date - Community']=crime_dfc_total["Month"]+'/'+ crime_dfc_total["Year"]+' - '+crime_dfc_total["Community"]   
display(crime_dfc_total.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19283 entries, 0 to 19282
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         19283 non-null  object
 1   Month        19283 non-null  object
 2   Community    19283 non-null  object
 3   Crime Count  19283 non-null  int64
dtypes: int64(1), object(3)
memory usage: 602.7+ KB

,Year,Month,Community,Crime Count,Date - Community
0,2018,1,ABBEYDALE,3,1/2018 - ABBEYDALE
1,2018,1,ACADIA,43,1/2018 - ACADIA
2,2018,1,ALBERT PARK/RADISSON HEIGHTS,19,1/2018 - ALBERT PARK/RADISSON HEIGHTS

## Subset consolidation - Crime df
The different crime categories will be grouped in bigger categories, this will reduce the total subsets generated. The crimes category will be grouped considering their nature, as follows:

1. **Violent Crime**: Assault (Non-domestic) and Violence (Non-domestic)
2. **Property Crime**: Break & Enter - Commercial, Break & Enter - Dwelling and Break & Enter - Other Premises
3. **Theft**: Theft FROM Vehicle and Theft OF Vehicle
4. **Robbery**: Street Robbery and Commercial Robbery.

### Subset Violent Crime

In [1337]:
#Subset Violent Crime
violent_dfc_total=crime_dfc[
(crime_dfc['Category']=='Assault (Non-domestic)') | (crime_dfc['Category']=='Violence (Non-domestic)')]
violent_dfc_total=violent_dfc_total.groupby(['Year','Month', 'Community'], as_index=False)['Crime Count'].sum()
violent_dfc_total=violent_dfc_total.reset_index(drop=True)    #Added to avoid issues when printing just the first rows
violent_dfc_total =violent_dfc_total.astype(convert_dict)
violent_dfc_total['Date - Community']=violent_dfc_total["Month"]+'/'+ violent_dfc_total["Year"]+' - '+violent_dfc_total["Community"]  
display(violent_dfc_total.head(3))

,Year,Month,Community,Crime Count,Date - Community
0,2018,1,ABBEYDALE,1,1/2018 - ABBEYDALE
1,2018,1,ACADIA,6,1/2018 - ACADIA
2,2018,1,ALBERT PARK/RADISSON HEIGHTS,2,1/2018 - ALBERT PARK/RADISSON HEIGHTS

### Subset Property Crime

In [1339]:
#Subset Property Crime
property_dfc_total=crime_dfc[
(crime_dfc['Category']=='Break & Enter - Commercial') |
(crime_dfc['Category']=='Break & Enter - Dwelling')|
(crime_dfc['Category']=='Break & Enter - Other Premises')]

property_dfc_total=property_dfc_total.groupby(['Year','Month', 'Community'], as_index=False)['Crime Count'].sum()
property_dfc_total=property_dfc_total.reset_index(drop=True)    #Added to avoid issues when printing just the first rows
property_dfc_total =property_dfc_total.astype(convert_dict)
property_dfc_total['Date - Community']=property_dfc_total["Month"]+'/'+ property_dfc_total["Year"]+' - '+property_dfc_total["Community"]  
display(property_dfc_total.head(3))

,Year,Month,Community,Crime Count,Date - Community
0,2018,1,ACADIA,14,1/2018 - ACADIA
1,2018,1,ALBERT PARK/RADISSON HEIGHTS,6,1/2018 - ALBERT PARK/RADISSON HEIGHTS
2,2018,1,ALTADORE,3,1/2018 - ALTADORE

### Subset Thef Crime

In [1341]:
#Subset Thef Crime
thef_dfc_total=crime_dfc[
(crime_dfc['Category']=='Theft FROM Vehicle') |
(crime_dfc['Category']=='Theft OF Vehicle')]

thef_dfc_total=thef_dfc_total.groupby(['Year','Month', 'Community'], as_index=False)['Crime Count'].sum()
thef_dfc_total=thef_dfc_total.reset_index(drop=True)    #Added to avoid issues when printing just the first rows
thef_dfc_total =thef_dfc_total.astype(convert_dict)
thef_dfc_total['Date - Community']=thef_dfc_total["Month"]+'/'+ thef_dfc_total["Year"]+' - '+thef_dfc_total["Community"]  
display(thef_dfc_total.head(3))

,Year,Month,Community,Crime Count,Date - Community
0,2018,1,ABBEYDALE,2,1/2018 - ABBEYDALE
1,2018,1,ACADIA,23,1/2018 - ACADIA
2,2018,1,ALBERT PARK/RADISSON HEIGHTS,10,1/2018 - ALBERT PARK/RADISSON HEIGHTS

### Subset Robbery Crime

In [1343]:
#Subset Robbery Crime
robbery_dfc_total=crime_dfc[
(crime_dfc['Category']=='Street Robbery') | 
(crime_dfc['Category']=='Commercial Robbery')]

robbery_dfc_total=robbery_dfc_total.groupby(['Year','Month', 'Community'], as_index=False)['Crime Count'].sum()
robbery_dfc_total=robbery_dfc_total.reset_index(drop=True)    #Added to avoid issues when printing just the first rows
robbery_dfc_total =robbery_dfc_total.astype(convert_dict)
robbery_dfc_total['Date - Community']=robbery_dfc_total["Month"]+'/'+ robbery_dfc_total["Year"]+' - '+robbery_dfc_total["Community"]  
display(robbery_dfc_total.head(3))

,Year,Month,Community,Crime Count,Date - Community
0,2018,1,ALBERT PARK/RADISSON HEIGHTS,1,1/2018 - ALBERT PARK/RADISSON HEIGHTS
1,2018,1,ARBOUR LAKE,1,1/2018 - ARBOUR LAKE
2,2018,1,BELTLINE,2,1/2018 - BELTLINE

# Total Crime Events and Social disorder events - Merged DF

In [1372]:
crime_social=pd.merge(crime_dfc_total,disorder_dfc, on='Date - Community', how='outer')
#crime_social=crime_social.drop('Date - Community', axis=1)
crime_social

,Year,Month,Community,Crime Count,Date - Community,Disorder Events
0,2018,1,ABBEYDALE,3.0,1/2018 - ABBEYDALE,22.0
1,2018,1,ACADIA,43.0,1/2018 - ACADIA,95.0
2,2018,1,ALBERT PARK/RADISSON HEIGHTS,19.0,1/2018 - ALBERT PARK/RADISSON HEIGHTS,102.0
3,2018,1,ALTADORE,10.0,1/2018 - ALTADORE,21.0
4,2018,1,ALYTH/BONNYBROOK,4.0,1/2018 - ALYTH/BONNYBROOK,8.0
...,...,...,...,...,...,...
20841,2024,9,WINSTON HEIGHTS/MOUNTVIEW,9.0,9/2024 - WINSTON HEIGHTS/MOUNTVIEW,29.0
20842,NaN,NaN,NaN,NaN,9/2024 - WOLF WILLOW,4.0
20843,2024,9,WOODBINE,9.0,9/2024 - WOODBINE,11.0
20844,2024,9,WOODLANDS,6.0,9/2024 - WOODLANDS,17.0
20845,2024,9,YORKVILLE,1.0,9/2024 - YORKVILLE,1.0

In [1374]:
#Count empty values
print("Missing values:\n")
crime_social.isna().sum()

Missing values:

Year                1563
Month               1563
Community           1563
Crime Count         1563
Date - Community       0
Disorder Events      474
dtype: int64

Even after cleaning the data, we are having NaN values, this happenes because in some dates a comunity can has social disorder events but not crime events or viceversa. In this scenario, the best way is to replace the NaN of social disorder and crime events with zeros and fill the year, month and community with the information available in the 'Date - Community' column

In [1389]:
crime_social[['Crime Count', 'Disorder Events']]=crime_social[['Crime Count', 'Disorder Events']].fillna(0)
crime_social
pattern=r'(\d+)/(\d+) - (.+)'
crime_social[['Month','Year','Community']]=crime_social['Date - Community'].str.extract(pattern)
crime_social=crime_social.drop('Date - Community', axis=1)
crime_social

       Year Month                     Community  Crime Count  Disorder Events
0      2018     1                     ABBEYDALE          3.0             22.0
1      2018     1                        ACADIA         43.0             95.0
2      2018     1  ALBERT PARK/RADISSON HEIGHTS         19.0            102.0
3      2018     1                      ALTADORE         10.0             21.0
4      2018     1              ALYTH/BONNYBROOK          4.0              8.0
...     ...   ...                           ...          ...              ...
20841  2024     9     WINSTON HEIGHTS/MOUNTVIEW          9.0             29.0
20842  2024     9                   WOLF WILLOW          0.0              4.0
20843  2024     9                      WOODBINE          9.0             11.0
20844  2024     9                     WOODLANDS          6.0             17.0
20845  2024     9                     YORKVILLE          1.0              1.0

[20846 rows x 5 columns]

# Violent Crime Events and Social disorder events - Merged DF

In [1395]:
violent_social=pd.merge(violent_dfc_total,disorder_dfc, on='Date - Community', how='outer')
#violent_social
#print("Missing values:\n")
#violent_social.isna().sum()
violent_social[['Crime Count', 'Disorder Events']]=violent_social[['Crime Count', 'Disorder Events']].fillna(0)
violent_social
pattern=r'(\d+)/(\d+) - (.+)'
violent_social[['Month','Year','Community']]=violent_social['Date - Community'].str.extract(pattern)
violent_social=violent_social.drop('Date - Community', axis=1)
violent_social

       Year Month                     Community  Crime Count  Disorder Events
0      2018     1                     ABBEYDALE          1.0             22.0
1      2018     1                        ACADIA          6.0             95.0
2      2018     1  ALBERT PARK/RADISSON HEIGHTS          2.0            102.0
3      2018     1                      ALTADORE          0.0             21.0
4      2018     1              ALYTH/BONNYBROOK          2.0              8.0
...     ...   ...                           ...          ...              ...
20433  2024     9     WINSTON HEIGHTS/MOUNTVIEW          3.0             29.0
20434  2024     9                   WOLF WILLOW          0.0              4.0
20435  2024     9                      WOODBINE          1.0             11.0
20436  2024     9                     WOODLANDS          4.0             17.0
20437  2024     9                     YORKVILLE          0.0              1.0

[20438 rows x 5 columns]

# Property Crime Events and Social disorder events - Merged DF

In [1397]:
property_social=pd.merge(property_dfc_total,disorder_dfc, on='Date - Community', how='outer')
#property_social
#print("Missing values:\n")
#property_social.isna().sum()
property_social[['Crime Count', 'Disorder Events']]=property_social[['Crime Count', 'Disorder Events']].fillna(0)
property_social
pattern=r'(\d+)/(\d+) - (.+)'
property_social[['Month','Year','Community']]=property_social['Date - Community'].str.extract(pattern)
property_social=property_social.drop('Date - Community', axis=1)
property_social

       Year Month                     Community  Crime Count  Disorder Events
0      2018     1                     ABBEYDALE          0.0             22.0
1      2018     1                        ACADIA         14.0             95.0
2      2018     1  ALBERT PARK/RADISSON HEIGHTS          6.0            102.0
3      2018     1                      ALTADORE          3.0             21.0
4      2018     1              ALYTH/BONNYBROOK          0.0              8.0
...     ...   ...                           ...          ...              ...
20587  2024     9     WINSTON HEIGHTS/MOUNTVIEW          1.0             29.0
20588  2024     9                   WOLF WILLOW          0.0              4.0
20589  2024     9                      WOODBINE          7.0             11.0
20590  2024     9                     WOODLANDS          1.0             17.0
20591  2024     9                     YORKVILLE          1.0              1.0

[20592 rows x 5 columns]

# Thef Crime Events and Social disorder events - Merged DF

In [1399]:
thef_social=pd.merge(thef_dfc_total,disorder_dfc, on='Date - Community', how='outer')
#thef_social
#print("Missing values:\n")
#thef_social.isna().sum()
thef_social[['Crime Count', 'Disorder Events']]=thef_social[['Crime Count', 'Disorder Events']].fillna(0)
thef_social
pattern=r'(\d+)/(\d+) - (.+)'
thef_social[['Month','Year','Community']]=thef_social['Date - Community'].str.extract(pattern)
thef_social=thef_social.drop('Date - Community', axis=1)
thef_social

       Year Month                     Community  Crime Count  Disorder Events
0      2018     1                     ABBEYDALE          2.0             22.0
1      2018     1                        ACADIA         23.0             95.0
2      2018     1  ALBERT PARK/RADISSON HEIGHTS         10.0            102.0
3      2018     1                      ALTADORE          7.0             21.0
4      2018     1              ALYTH/BONNYBROOK          2.0              8.0
...     ...   ...                           ...          ...              ...
20680  2024     9     WINSTON HEIGHTS/MOUNTVIEW          5.0             29.0
20681  2024     9                   WOLF WILLOW          0.0              4.0
20682  2024     9                      WOODBINE          1.0             11.0
20683  2024     9                     WOODLANDS          1.0             17.0
20684  2024     9                     YORKVILLE          0.0              1.0

[20685 rows x 5 columns]

# Robbery Crime Events and Social disorder events - Merged DF

In [1401]:
robbery_social=pd.merge(robbery_dfc_total,disorder_dfc, on='Date - Community', how='outer')
#robbery_social
#print("Missing values:\n")
#robbery_social.isna().sum()
robbery_social[['Crime Count', 'Disorder Events']]=robbery_social[['Crime Count', 'Disorder Events']].fillna(0)
robbery_social
pattern=r'(\d+)/(\d+) - (.+)'
robbery_social[['Month','Year','Community']]=robbery_social['Date - Community'].str.extract(pattern)
robbery_social=robbery_social.drop('Date - Community', axis=1)
robbery_social

       Year Month                     Community  Crime Count  Disorder Events
0      2018     1                     ABBEYDALE          0.0             22.0
1      2018     1                        ACADIA          0.0             95.0
2      2018     1  ALBERT PARK/RADISSON HEIGHTS          1.0            102.0
3      2018     1                      ALTADORE          0.0             21.0
4      2018     1              ALYTH/BONNYBROOK          0.0              8.0
...     ...   ...                           ...          ...              ...
20377  2024     9     WINSTON HEIGHTS/MOUNTVIEW          0.0             29.0
20378  2024     9                   WOLF WILLOW          0.0              4.0
20379  2024     9                      WOODBINE          0.0             11.0
20380  2024     9                     WOODLANDS          0.0             17.0
20381  2024     9                     YORKVILLE          0.0              1.0

[20382 rows x 5 columns]