In [336]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Crime Stats Dataframe

In [338]:
#path="C:\Users\andre\Documents\Msc of Data Science\Data 601\Project Gruop\Community_Crime_Statistics_20250118.csv"
File="Community_Crime_Statistics_20250118.csv"
crime_df=pd.read_csv(File)
crime_df.head(5)

  Community                    Category  Crime Count  Year  Month
0       01B      Assault (Non-domestic)            1  2022     11
1       01B  Break & Enter - Commercial            1  2019      6
2       01B  Break & Enter - Commercial            1  2019      8
3       01B  Break & Enter - Commercial            2  2020      3
4       01B  Break & Enter - Commercial            2  2020      7

In [339]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75595 entries, 0 to 75594
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Community    75595 non-null  object
 1   Category     75595 non-null  object
 2   Crime Count  75595 non-null  int64
 3   Year         75595 non-null  int64
 4   Month        75595 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.9+ MB

In [340]:
#How many communities has crime records?
Community_name=crime_df['Community'].dropna().unique()
Total_Community_name=len(Community_name)
print("Total communities:",Total_Community_name)

#Recognizing the communities 
display(Community_name)

Total communities: 300

array(['01B', '01F', '01I', '01K', '02B', '02C', '02E', '02F', '02K',
       '02L', '03W', '05D', '05F', '06A', '06B', '06C', '09H', '09K',
       '09O', '09P', '09Q', '10D', '10E', '12A', '12B', '12C', '12I',
       '12J', '12K', '12L', '13A', '13C', '13E', '13F', '13G', '13M',
       'ABBEYDALE', 'ACADIA', 'ALBERT PARK/RADISSON HEIGHTS',
       'ALPINE PARK', 'ALTADORE', 'ALYTH/BONNYBROOK', 'AMBLETON',
       'APPLEWOOD PARK', 'ARBOUR LAKE', 'ASPEN WOODS', 'AUBURN BAY',
       'AURORA BUSINESS PARK', 'BANFF TRAIL', 'BANKVIEW', 'BAYVIEW',
       'BEDDINGTON HEIGHTS', 'BEL-AIRE', 'BELMONT', 'BELTLINE',
       'BELVEDERE', 'BONAVISTA DOWNS', 'BOWNESS', 'BRAESIDE', 'BRENTWOOD',
       'BRIDGELAND/RIVERSIDE', 'BRIDLEWOOD', 'BRITANNIA',
       'BURNS INDUSTRIAL', 'CALGARY INTERNATIONAL AIRPORT',
       'CAMBRIAN HEIGHTS', 'CANADA OLYMPIC PARK', 'CANYON MEADOWS',
       'CAPITOL HILL', 'CARRINGTON', 'CASTLERIDGE', 'CEDARBRAE',
       'CHAPARRAL', 'CHARLESWOOD', 'CHINATOWN', 'CHINOOK PARK',
       'CHRISTIE PARK', 'CITADEL', 'CITYSCAPE', 'CLIFF BUNGALOW',
       'COACH HILL', 'COLLINGWOOD', 'COPPERFIELD', 'CORAL SPRINGS',
       'CORNERSTONE', 'COUGAR RIDGE', 'COUNTRY HILLS',
       'COUNTRY HILLS VILLAGE', 'COVENTRY HILLS', 'CRANSTON',
       'CRESCENT HEIGHTS', 'CRESTMONT', 'CURRIE BARRACKS', 'DALHOUSIE',
       'DEER RIDGE', 'DEER RUN', 'DEERFOOT BUSINESS CENTRE',
       'DIAMOND COVE', 'DISCOVERY RIDGE', 'DOUGLASDALE/GLEN', 'DOVER',
       'DOWNTOWN COMMERCIAL CORE', 'DOWNTOWN EAST VILLAGE',
       'DOWNTOWN WEST END', 'EAGLE RIDGE', 'EAST FAIRVIEW INDUSTRIAL',
       'EAST SHEPARD INDUSTRIAL', 'EASTFIELD', 'EAU CLAIRE', 'EDGEMONT',
       'ELBOW PARK', 'ELBOYA', 'ERIN WOODS', 'ERLTON', 'EVANSTON',
       'EVERGREEN', 'FAIRVIEW', 'FAIRVIEW INDUSTRIAL', 'FALCONRIDGE',
       'FISH CREEK PARK', 'FOOTHILLS', 'FOREST HEIGHTS', 'FOREST LAWN',
       'FOREST LAWN INDUSTRIAL', 'FRANKLIN', 'GARRISON GREEN',
       'GARRISON WOODS', 'GLACIER RIDGE', 'GLAMORGAN', 'GLENBROOK',
       'GLENDALE', 'GLENDEER BUSINESS PARK', 'GLENMORE PARK',
       'GOLDEN TRIANGLE', 'GREAT PLAINS', 'GREENVIEW',
       'GREENVIEW INDUSTRIAL PARK', 'GREENWOOD/GREENBRIAR', 'HAMPTONS',
       'HARVEST HILLS', 'HASKAYNE', 'HAWKWOOD', 'HAYSBORO',
       'HIDDEN VALLEY', 'HIGHFIELD', 'HIGHLAND PARK', 'HIGHWOOD',
       'HILLHURST', 'HOMESTEAD', 'HORIZON', 'HOTCHKISS',
       'HOUNSFIELD HEIGHTS/BRIAR HILL', 'HUNTINGTON HILLS', 'INGLEWOOD',
       'KELVIN GROVE', 'KILLARNEY/GLENGARRY', 'KINCORA', 'KINGSLAND',
       'LAKE BONAVISTA', 'LAKEVIEW', 'LEGACY', 'LINCOLN PARK',
       'LIVINGSTON', 'LOWER MOUNT ROYAL', 'MACEWAN GLEN', 'MAHOGANY',
       'MANCHESTER', 'MANCHESTER INDUSTRIAL', 'MAPLE RIDGE',
       'MARLBOROUGH', 'MARLBOROUGH PARK', 'MARTINDALE', 'MAYFAIR',
       'MAYLAND', 'MAYLAND HEIGHTS', 'MCCALL', 'MCKENZIE LAKE',
       'MCKENZIE TOWNE', 'MEADOWLARK PARK', 'MEDICINE HILL', 'MERIDIAN',
       'MIDNAPORE', 'MILLRISE', 'MISSION', 'MONTEREY PARK', 'MONTGOMERY',
       'MOUNT PLEASANT', 'NEW BRIGHTON', 'NOLAN HILL', 'NORTH AIRWAYS',
       'NORTH GLENMORE PARK', 'NORTH HAVEN', 'NORTH HAVEN UPPER',
       'NOSE HILL PARK', 'OAKRIDGE', 'OGDEN', 'OGDEN SHOPS', 'PALLISER',
       'PANORAMA HILLS', 'PARKDALE', 'PARKHILL', 'PARKLAND', 'PATTERSON',
       'PEGASUS', 'PENBROOKE MEADOWS', 'PINE CREEK', 'PINERIDGE',
       'POINT MCKAY', 'PUMP HILL', 'QUEENS PARK VILLAGE', 'QUEENSLAND',
       'RAMSAY', 'RANCHLANDS', 'RANGEVIEW', 'RED CARPET', 'REDSTONE',
       'RENFREW', 'RICHMOND', 'RIDEAU PARK', 'RIVERBEND', 'ROCKY RIDGE',
       'ROSEDALE', 'ROSEMONT', 'ROSSCARROCK', 'ROXBORO', 'ROYAL OAK',
       'ROYAL VISTA', 'RUNDLE', 'RUTLAND PARK', 'SADDLE RIDGE',
       'SADDLE RIDGE INDUSTRIAL', 'SAGE HILL', 'SANDSTONE VALLEY',
       'SCARBORO', 'SCENIC ACRES', 'SECTION 23', 'SETON', 'SHAGANAPPI',
       'SHAWNEE SLOPES', 'SHAWNESSY', 'SHEPARD INDUSTRIAL', 'SHERWOOD',
       'SIGNAL HILL', 'SILVER SPRINGS', 'SILVERADO', 'SKYLINE EAST',
       'SKYLINE WEST', 'SKYVIEW RANCH', 'SOMERSET', 'SOUTH AIRWAYS',
       'SOUTH CALGARY', 'SOUTH FOOTHILLS', 'SOUTHVIEW', 'SOUTHWOOD',
       'SPRINGBANK HILL', 'SPRUCE CLIFF', 'ST. ANDREWS HEIGHTS',
       'STARFIELD', 'STONEGATE LANDING', 'STONEY 1', 'STONEY 2',
       'STONEY 3', 'STONEY 4', 'STRATHCONA PARK', 'SUNALTA', 'SUNDANCE',
       'SUNNYSIDE', 'SUNRIDGE', 'SYMONS VALLEY RANCH', 'TARADALE',
       'TEMPLE', 'THORNCLIFFE', 'TUSCANY', 'TUXEDO PARK', 'TWINHILLS',
       'UNIVERSITY DISTRICT', 'UNIVERSITY HEIGHTS',
       'UNIVERSITY OF CALGARY', 'UPPER MOUNT ROYAL', 'VALLEY RIDGE',
       'VALLEYFIELD', 'VARSITY', 'VISTA HEIGHTS', 'WALDEN',
       'WEST HILLHURST', 'WEST SPRINGS', 'WESTGATE', 'WESTWINDS',
       'WHITEHORN', 'WILDWOOD', 'WILLOW PARK', 'WINDSOR PARK',
       'WINSTON HEIGHTS/MOUNTVIEW', 'WOLF WILLOW', 'WOODBINE',
       'WOODLANDS', 'YORKVILLE', 'SCARBORO/ SUNALTA WEST', '01H',
       'LEWISBURG'], dtype=object)

In [341]:
#How many crime categories has this data set?
Crime_cat=crime_df['Category'].dropna().unique()
Total_Crime_cat=len(Crime_cat)
print("Total crime categories:",Total_Crime_cat)

#Recognizing the crime categories
print("These are the crime categories whithin the dataset:\n")
display(Crime_cat)

Total crime categories: 9
These are the crime categories whithin the dataset:

array(['Assault (Non-domestic)', 'Break & Enter - Commercial',
       'Break & Enter - Dwelling', 'Theft FROM Vehicle',
       'Theft OF Vehicle', "Violence\xa0 'Other' (Non-domestic)",
       'Street Robbery', 'Commercial Robbery',
       'Break & Enter - Other Premises'], dtype=object)

In [342]:
#Does the datframe have invalid values in the Month and Year Columns?
Year_values=np.sort(crime_df['Year'].dropna().unique())
print("These are the years reported in the database:", Year_values)

Month_Values=np.sort(crime_df['Month'].dropna().unique())
print("These are the months reported in the database:", Month_Values)

if np.all((Month_Values>0) & (Month_Values<13)):
    print("All month entries are valid")
else:
    ("There are invalid entries, please correct the data")

These are the years reported in the database: [2018 2019 2020 2021 2022 2023 2024]
These are the months reported in the database: [ 1  2  3  4  5  6  7  8  9 10 11 12]
All month entries are valid

In [343]:
#Do we have crime records with missing values?

print("Missing values:\n")
crime_df.isna().sum()

Missing values:

Community      0
Category       0
Crime Count    0
Year           0
Month          0
dtype: int64

## Data Transformation
*With the previous findings, a crime category will be renamed.

*The number of entries relate to residual communities will be checked to see if we exclude those from the analysis.

*A regex validations mas be done with the community names.

### 1. Change name of Crime Category

In [345]:
#Changing name category
crime_df['Category']=crime_df['Category'].replace("Violence\xa0 'Other' (Non-domestic)","Violence (Non-domestic)")
crime_df.tail(10)

         Community                 Category  Crime Count  Year  Month
75585  CORNERSTONE  Violence (Non-domestic)            1  2021      6
75586  CORNERSTONE  Violence (Non-domestic)            1  2021      7
75587  CORNERSTONE  Violence (Non-domestic)            2  2021      8
75588  CORNERSTONE  Violence (Non-domestic)            1  2022      1
75589  CORNERSTONE  Violence (Non-domestic)            1  2022      3
75590  CORNERSTONE  Violence (Non-domestic)            1  2022      6
75591  CORNERSTONE  Violence (Non-domestic)            1  2022      8
75592  CORNERSTONE  Violence (Non-domestic)            1  2023      2
75593  CORNERSTONE  Violence (Non-domestic)            1  2023      7
75594  CORNERSTONE  Violence (Non-domestic)            1  2023     12

### 2. Do we need all the data?

In [347]:
#Since we want to verify the impact of residual communities, we are adding a new column to categorize the communities
crime_df['Community Type'] = np.where(crime_df['Community'].str[0].str.isdigit(), 'Residual', 'City')
display(crime_df.head(3), crime_df.tail(3))

#Now, we will calculate a general crime percentage
count_crime=crime_df['Crime Count'].sum()
print("Total crime events in the dataset:",count_crime)

crime_residual = crime_df[crime_df['Community Type'] == 'Residual']['Crime Count'].sum()
print("Total crime events ocurred in residual communities:",crime_residual)

#I want to double check the total entries of resisudal communities in the daframe
count_residual = crime_df[crime_df['Community Type'] == 'Residual']['Community Type'].count()
print("Total entries of crime in residual communities:",count_residual)

perc_residual=round((crime_residual/count_crime)*100,4)
print("Crimes in res. communities represents only:", perc_residual,"% - in the last 5 years") # I think we can exclude this areas from the analysis

,Community,Category,Crime Count,Year,Month,Community Type
0,01B,Assault (Non-domestic),1,2022,11,Residual
1,01B,Break & Enter - Commercial,1,2019,6,Residual
2,01B,Break & Enter - Commercial,1,2019,8,Residual

,Community,Category,Crime Count,Year,Month,Community Type
75592,CORNERSTONE,Violence (Non-domestic),1,2023,2,City
75593,CORNERSTONE,Violence (Non-domestic),1,2023,7,City
75594,CORNERSTONE,Violence (Non-domestic),1,2023,12,City

Total crime events in the dataset: 212950
Total crime events ocurred in residual communities: 1653
Total entries of crime in residual communities: 1013
Crimes in res. communities represents only: 0.7762 % - in the last 5 years

### 3. Exclude Residual Communities from the Data Set

In [349]:
original_len=len(crime_df)
new_len=(original_len)-(count_residual)
crime_df=crime_df[crime_df['Community Type'] != 'Residual']
display(crime_df)
print("Since entries from residual coomunities are:", count_residual, "the new dataframe should have", new_len, "entries")
crime_df.info()

,Community,Category,Crime Count,Year,Month,Community Type
1012,ABBEYDALE,Assault (Non-domestic),1,2018,1,City
1013,ABBEYDALE,Assault (Non-domestic),1,2018,2,City
1014,ABBEYDALE,Assault (Non-domestic),1,2018,3,City
1015,ABBEYDALE,Assault (Non-domestic),2,2018,5,City
1016,ABBEYDALE,Assault (Non-domestic),1,2018,7,City
...,...,...,...,...,...,...
75590,CORNERSTONE,Violence (Non-domestic),1,2022,6,City
75591,CORNERSTONE,Violence (Non-domestic),1,2022,8,City
75592,CORNERSTONE,Violence (Non-domestic),1,2023,2,City
75593,CORNERSTONE,Violence (Non-domestic),1,2023,7,City
75594,CORNERSTONE,Violence (Non-domestic),1,2023,12,City

Since entries from residual coomunities are: 1013 the new dataframe should have 74582 entries
<class 'pandas.core.frame.DataFrame'>
Index: 74582 entries, 1012 to 75594
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Community       74582 non-null  object
 1   Category        74582 non-null  object
 2   Crime Count     74582 non-null  int64
 3   Year            74582 non-null  int64
 4   Month           74582 non-null  int64
 5   Community Type  74582 non-null  object
dtypes: int64(3), object(3)
memory usage: 4.0+ MB

# Social Disorders Dataframe

In [351]:
#path="C:\Users\andre\Documents\Msc of Data Science\Data 601\Project Gruop\Community_Crime_Statistics_20250118.csv"
File="Community_Disorder_Statistics_20250204.csv"
disorder_df=pd.read_csv(File)
disorder_df.head(5)

  Community  Category  Event Count  Year  Month
0       01B  Disorder            1  2018      2
1       01B  Disorder            2  2018      6
2       01B  Disorder            1  2018      8
3       01B  Disorder            1  2018     10
4       01B  Disorder            2  2018     11

In [352]:
disorder_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21445 entries, 0 to 21444
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Community    21445 non-null  object
 1   Category     21445 non-null  object
 2   Event Count  21445 non-null  int64
 3   Year         21445 non-null  int64
 4   Month        21445 non-null  int64
dtypes: int64(3), object(2)
memory usage: 837.8+ KB

In [353]:
#How many communities has social disorder records?
Community_name_disorder=disorder_df['Community'].dropna().unique()
Total_Community_name_disorder=len(Community_name_disorder)
print("Total communities:",Total_Community_name_disorder)

#Recognizing the communities 
display(Community_name_disorder)

Total communities: 306

array(['01B', '01F', '01I', '01K', '02B', '02C', '02E', '02F', '02K',
       '02L', '03W', '05D', '05F', '05G', '06A', '06B', '06C', '09D',
       '09H', '09K', '09O', '09P', '09Q', '10D', '10E', '12A', '12B',
       '12C', '12I', '12J', '12K', '12L', '13A', '13C', '13E', '13F',
       '13G', '13H', '13M', 'ABBEYDALE', 'ACADIA',
       'ALBERT PARK/RADISSON HEIGHTS', 'ALPINE PARK', 'ALTADORE',
       'ALYTH/BONNYBROOK', 'AMBLETON', 'APPLEWOOD PARK', 'ARBOUR LAKE',
       'ASPEN WOODS', 'AUBURN BAY', 'AURORA BUSINESS PARK', 'BANFF TRAIL',
       'BANKVIEW', 'BAYVIEW', 'BEDDINGTON HEIGHTS', 'BEL-AIRE', 'BELMONT',
       'BELTLINE', 'BELVEDERE', 'BONAVISTA DOWNS', 'BOWNESS', 'BRAESIDE',
       'BRENTWOOD', 'BRIDGELAND/RIVERSIDE', 'BRIDLEWOOD', 'BRITANNIA',
       'BURNS INDUSTRIAL', 'CALGARY INTERNATIONAL AIRPORT',
       'CAMBRIAN HEIGHTS', 'CANADA OLYMPIC PARK', 'CANYON MEADOWS',
       'CAPITOL HILL', 'CARRINGTON', 'CASTLERIDGE', 'CEDARBRAE',
       'CHAPARRAL', 'CHARLESWOOD', 'CHINATOWN', 'CHINOOK PARK',
       'CHRISTIE PARK', 'CITADEL', 'CITYSCAPE', 'CLIFF BUNGALOW',
       'COACH HILL', 'COLLINGWOOD', 'COPPERFIELD', 'CORAL SPRINGS',
       'CORNERSTONE', 'COUGAR RIDGE', 'COUNTRY HILLS',
       'COUNTRY HILLS VILLAGE', 'COVENTRY HILLS', 'CRANSTON',
       'CRESCENT HEIGHTS', 'CRESTMONT', 'CURRIE BARRACKS', 'DALHOUSIE',
       'DEER RIDGE', 'DEER RUN', 'DEERFOOT BUSINESS CENTRE',
       'DIAMOND COVE', 'DISCOVERY RIDGE', 'DOUGLASDALE/GLEN', 'DOVER',
       'DOWNTOWN COMMERCIAL CORE', 'DOWNTOWN EAST VILLAGE',
       'DOWNTOWN WEST END', 'EAGLE RIDGE', 'EAST FAIRVIEW INDUSTRIAL',
       'EAST SHEPARD INDUSTRIAL', 'EASTFIELD', 'EAU CLAIRE', 'EDGEMONT',
       'ELBOW PARK', 'ELBOYA', 'ERIN WOODS', 'ERLTON', 'EVANSTON',
       'EVERGREEN', 'FAIRVIEW', 'FAIRVIEW INDUSTRIAL', 'FALCONRIDGE',
       'FISH CREEK PARK', 'FOOTHILLS', 'FOREST HEIGHTS', 'FOREST LAWN',
       'FOREST LAWN INDUSTRIAL', 'FRANKLIN', 'GARRISON GREEN',
       'GARRISON WOODS', 'GLACIER RIDGE', 'GLAMORGAN', 'GLENBROOK',
       'GLENDALE', 'GLENDEER BUSINESS PARK', 'GLENMORE PARK',
       'GOLDEN TRIANGLE', 'GREAT PLAINS', 'GREENVIEW',
       'GREENVIEW INDUSTRIAL PARK', 'GREENWOOD/GREENBRIAR', 'HAMPTONS',
       'HARVEST HILLS', 'HASKAYNE', 'HAWKWOOD', 'HAYSBORO',
       'HIDDEN VALLEY', 'HIGHFIELD', 'HIGHLAND PARK', 'HIGHWOOD',
       'HILLHURST', 'HOMESTEAD', 'HORIZON', 'HOTCHKISS',
       'HOUNSFIELD HEIGHTS/BRIAR HILL', 'HUNTINGTON HILLS', 'INGLEWOOD',
       'KELVIN GROVE', 'KEYSTONE HILLS', 'KILLARNEY/GLENGARRY', 'KINCORA',
       'KINGSLAND', 'LAKE BONAVISTA', 'LAKEVIEW', 'LEGACY',
       'LINCOLN PARK', 'LIVINGSTON', 'LOWER MOUNT ROYAL', 'MACEWAN GLEN',
       'MAHOGANY', 'MANCHESTER', 'MANCHESTER INDUSTRIAL', 'MAPLE RIDGE',
       'MARLBOROUGH', 'MARLBOROUGH PARK', 'MARTINDALE', 'MAYFAIR',
       'MAYLAND', 'MAYLAND HEIGHTS', 'MCCALL', 'MCKENZIE LAKE',
       'MCKENZIE TOWNE', 'MEADOWLARK PARK', 'MEDICINE HILL', 'MERIDIAN',
       'MIDNAPORE', 'MILLRISE', 'MISSION', 'MONTEREY PARK', 'MONTGOMERY',
       'MOUNT PLEASANT', 'NEW BRIGHTON', 'NOLAN HILL', 'NORTH AIRWAYS',
       'NORTH GLENMORE PARK', 'NORTH HAVEN', 'NORTH HAVEN UPPER',
       'NOSE HILL PARK', 'OAKRIDGE', 'OGDEN', 'OGDEN SHOPS', 'PALLISER',
       'PANORAMA HILLS', 'PARKDALE', 'PARKHILL', 'PARKLAND', 'PATTERSON',
       'PEGASUS', 'PENBROOKE MEADOWS', 'PINE CREEK', 'PINERIDGE',
       'POINT MCKAY', 'PUMP HILL', 'QUEENS PARK VILLAGE', 'QUEENSLAND',
       'RAMSAY', 'RANCHLANDS', 'RANGEVIEW', 'RED CARPET', 'REDSTONE',
       'RENFREW', 'RICHMOND', 'RIDEAU PARK', 'RIVERBEND', 'ROCKY RIDGE',
       'ROSEDALE', 'ROSEMONT', 'ROSSCARROCK', 'ROXBORO', 'ROYAL OAK',
       'ROYAL VISTA', 'RUNDLE', 'RUTLAND PARK', 'SADDLE RIDGE',
       'SADDLE RIDGE INDUSTRIAL', 'SAGE HILL', 'SANDSTONE VALLEY',
       'SCARBORO', 'SCENIC ACRES', 'SECTION 23', 'SETON', 'SHAGANAPPI',
       'SHAWNEE SLOPES', 'SHAWNESSY', 'SHEPARD INDUSTRIAL', 'SHERWOOD',
       'SIGNAL HILL', 'SILVER SPRINGS', 'SILVERADO', 'SKYLINE EAST',
       'SKYLINE WEST', 'SKYVIEW RANCH', 'SOMERSET', 'SOUTH AIRWAYS',
       'SOUTH CALGARY', 'SOUTH FOOTHILLS', 'SOUTHVIEW', 'SOUTHWOOD',
       'SPRINGBANK HILL', 'SPRUCE CLIFF', 'ST. ANDREWS HEIGHTS',
       'STARFIELD', 'STONEGATE LANDING', 'STONEY 1', 'STONEY 2',
       'STONEY 3', 'STONEY 4', 'STRATHCONA PARK', 'SUNALTA', 'SUNDANCE',
       'SUNNYSIDE', 'SUNRIDGE', 'SYMONS VALLEY RANCH', 'TARADALE',
       'TEMPLE', 'THORNCLIFFE', 'TUSCANY', 'TUXEDO PARK', 'TWINHILLS',
       'UNIVERSITY DISTRICT', 'UNIVERSITY HEIGHTS',
       'UNIVERSITY OF CALGARY', 'UPPER MOUNT ROYAL', 'VALLEY RIDGE',
       'VALLEYFIELD', 'VARSITY', 'VISTA HEIGHTS', 'WALDEN',
       'WEST HILLHURST', 'WEST SPRINGS', 'WESTGATE', 'WESTWINDS',
       'WHITEHORN', 'WILDWOOD', 'WILLOW PARK', 'WINDSOR PARK',
       'WINSTON HEIGHTS/MOUNTVIEW', 'WOLF WILLOW', 'WOODBINE',
       'WOODLANDS', 'YORKVILLE', 'SCARBORO/ SUNALTA WEST',
       '01H CRESTMONT', '01H', 'LEWISBURG', '13J'], dtype=object)

In [354]:
#How many social disorder categories has this data set?
Disorder_cat=disorder_df['Category'].dropna().unique()
Total_Disorder_cat=len(Disorder_cat)
print("Total crime categories:",Total_Disorder_cat)

#Recognizing the social disorder categories
print("These are the crime categories whithin the dataset:", Disorder_cat)

Total crime categories: 1
These are the crime categories whithin the dataset: ['Disorder']

In [355]:
#Does the datframe have invalid values in the Month and Year Columns?
Year_values=np.sort(disorder_df['Year'].dropna().unique())
print("These are the years reported in the database:", Year_values)

Month_Values=np.sort(disorder_df['Month'].dropna().unique())
print("These are the months reported in the database:", Month_Values)

if np.all((Month_Values>0) & (Month_Values<13)):
    print("All month entries are valid")
else:
    ("There are invalid entries, please correct the data")

These are the years reported in the database: [2018 2019 2020 2021 2022 2023 2024]
These are the months reported in the database: [ 1  2  3  4  5  6  7  8  9 10 11 12]
All month entries are valid

In [356]:
#Do we have crime records with missing values?

print("Missing values:\n")
disorder_df.isna().sum()

Missing values:

Community      0
Category       0
Event Count    0
Year           0
Month          0
dtype: int64

## Data Transformation

*The number of entries relate to residual communities will be checked to see if we exclude those from the analysis.

*A regex validations mas be done with the community names.

### 2. Do we need all the data?

In [359]:
#Since we want to verify the impact of residual communities, we are adding a new column to categorize the communities
disorder_df['Community Type'] = np.where(disorder_df['Community'].str[0].str.isdigit(), 'Residual', 'City')
display(disorder_df.head(3), disorder_df.tail(3))

#Now, we will calculate a general crime percentage
count_disorder=disorder_df['Event Count'].sum()
print("Total disorder events in the dataset:",count_disorder)

disorder_residual = disorder_df[disorder_df['Community Type'] == 'Residual']['Event Count'].sum()
print("Total disorder events ocurred in residual communities:",disorder_residual)

#I want to double check the total entries of resisudal communities in the daframe
count_residual_disorder = disorder_df[disorder_df['Community Type'] == 'Residual']['Community Type'].count()
print("Total entries of disorder events in residual communities:",count_residual_disorder)

perc_residual=round((disorder_residual/count_disorder)*100,4)
print("Disorder eventes in res. communities represents only:\n", perc_residual,"% - in the last 5 years") # I think we can exclude this areas from the analysis

  Community  Category  Event Count  Year  Month Community Type
0       01B  Disorder            1  2018      2       Residual
1       01B  Disorder            2  2018      6       Residual
2       01B  Disorder            1  2018      8       Residual

       Community  Category  Event Count  Year  Month Community Type
21442  LEWISBURG  Disorder            1  2024      4           City
21443  LEWISBURG  Disorder            1  2024     10           City
21444        13J  Disorder            1  2023      9       Residual

Total disorder events in the dataset: 596667
Total disorder events ocurred in residual communities: 2151
Total entries of disorder events in residual communities: 1073
Disorder eventes in res. communities represents only:
 0.3605 % - in the last 5 years

### 3. Exclude Residual Communities from the Data Set

In [378]:
original_len_disorder=len(disorder_df)
new_len_disorder=(original_len_disorder)-(count_residual_disorder)
original_len_disorder
new_len_disorder
disorder_df=disorder_df[disorder_df['Community Type'] != 'Residual']
display(disorder_df)
print("Since entries from residual coomunities are:", count_residual_disorder, "the new dataframe should have", new_len_disorder, "entries")
disorder_df.info()

,Community,Category,Event Count,Year,Month,Community Type
1055,ABBEYDALE,Disorder,22,2018,1,City
1056,ABBEYDALE,Disorder,16,2018,2,City
1057,ABBEYDALE,Disorder,22,2018,3,City
1058,ABBEYDALE,Disorder,35,2018,4,City
1059,ABBEYDALE,Disorder,39,2018,5,City
...,...,...,...,...,...,...
21422,SCARBORO/ SUNALTA WEST,Disorder,1,2024,10,City
21440,LEWISBURG,Disorder,1,2023,5,City
21441,LEWISBURG,Disorder,1,2023,8,City
21442,LEWISBURG,Disorder,1,2024,4,City
21443,LEWISBURG,Disorder,1,2024,10,City

Since entries from residual coomunities are: 1073 the new dataframe should have 20372 entries
<class 'pandas.core.frame.DataFrame'>
Index: 20372 entries, 1055 to 21443
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Community       20372 non-null  object
 1   Category        20372 non-null  object
 2   Event Count     20372 non-null  int64
 3   Year            20372 non-null  int64
 4   Month           20372 non-null  int64
 5   Community Type  20372 non-null  object
dtypes: int64(3), object(3)
memory usage: 1.1+ MB

# Merge the 2 dataframes

In [ ]:
"test"